In [59]:
import yahoo_fin.stock_info as yf
import pandas as pd
import datetime 
import time
import yfinance as y_f

In [65]:
ticker=['AAPL','AMZN','TSLA','ko']
def get_indicator(ticker,time):
    
    working_capital=[]
    current_ratio=[]
    cash_ratio = []
    LTDebttoEquity =[]
    DebttoEquity = []
    Financial_Leverage=[]
    
    
    for i in ticker:
        
        BS=yf.get_balance_sheet(i)
        IS=yf.get_income_statement(i) 
        years=BS.columns
        working_capital.append(BS[years[time]]['totalCurrentAssets'] - BS[years[time]]['totalCurrentLiabilities'])
        current_ratio.append(BS[years[time]]['totalCurrentAssets']/  BS[years[time]]['totalCurrentLiabilities'])
        cash_ratio.append((BS[years[time]]['cash']+BS[years[time]]['totalCurrentAssets'])   /(BS[years[time]]['totalCurrentLiabilities']))
        LTDebttoEquity.append((BS[years[time]]['longTermDebt']  ) / BS[years[time]]['totalStockholderEquity'])
        DebttoEquity.append((BS[years[time]]['totalLiab']  ) / BS[years[time]]['totalStockholderEquity'])
        Financial_Leverage.append((BS[years[time]]['totalAssets']  ) / BS[years[time]]['totalStockholderEquity'])
        
    BS_metrics={
        'working capital': working_capital,
        'current ratio':current_ratio,
        'cash ratio':cash_ratio, 
        'LTDebttoEquity':LTDebttoEquity ,
        'DebttoEquity':DebttoEquity, 
        'Financial Leverage':Financial_Leverage,
        }

        
    

    return(pd.DataFrame(data=BS_metrics, index=ticker))

In [66]:
get_indicator(ticker,0)

,working capital,current ratio,cash ratio,LTDebttoEquity,DebttoEquity,Financial Leverage
AAPL,9.355000e+09,1.074553,1.353002,1.729371,4.563512,5.563512
AMZN,6.348000e+09,1.050227,1.383511,0.340628,2.438771,3.438771
TSLA,1.246900e+10,1.875140,3.235612,0.385647,1.280945,2.346367
ko,4.639000e+09,1.317718,1.783097,2.079123,3.420488,4.523343

In [52]:
companies1 = ['AMZN','MSFT','FB','IBM','AAPL','TSLA']

In [53]:
company_info =y_f.Ticker('MSFT')
print(company_info.info['bookValue'])

21.335

In [57]:
Book_value=[]
Trailing_PE=[]
Trailing_PS=[]
Forward_PE=[]
fitty2_week_High=[]
fitty2_week_Low=[]
Divident_yeild=[]
EV_To_Revenue=[]
Market_Cap=[]
current_Price=[]

for company in companies1:
    company_info =y_f.Ticker(company)
    Book_value.append(company_info.info['bookValue'])
    Trailing_PS.append(company_info.info['priceToSalesTrailing12Months'])
    Trailing_PE.append(company_info.info['trailingPE'])
    fitty2_week_High.append(company_info.info['fiftyTwoWeekHigh'])
    fitty2_week_Low.append(company_info.info['fiftyTwoWeekLow'])
    Divident_yeild.append(company_info.info['dividendYield'])
    EV_To_Revenue.append(company_info.info['enterpriseToRevenue'])
    Market_Cap.append(company_info.info['marketCap'])
    current_Price.append(company_info.info['previousClose'])
BS_metrics={
        'Book value': Book_value,
        'Trailing PE':Trailing_PE,
        'Trailing PS':Trailing_PS,
        'fitty2 week High':fitty2_week_High, 
        'fitty2 week Low':fitty2_week_Low,
        'Divident yeild':Divident_yeild,
        'EV To Revenue':EV_To_Revenue,
        'Market Cap':Market_Cap,
        'current Price':current_Price,

        }

        
    
pd.DataFrame(data=BS_metrics, index=companies1).T

,AMZN,MSFT,FB,IBM,AAPL,TSLA
Book value,2.716010e+02,2.133500e+01,4.429900e+01,2.104600e+01,4.402000e+00,2.694500e+01
Trailing PE,4.494399e+01,3.087230e+01,1.452868e+01,1.994330e+01,2.712718e+01,1.710447e+02
Trailing PS,3.154750e+00,1.175234e+01,4.617620e+00,1.978903e+00,7.038526e+00,1.609686e+01
fitty2 week High,3.773080e+03,3.496700e+02,3.843300e+02,1.461185e+02,1.829400e+02,1.243490e+03
fitty2 week Low,2.707040e+03,2.271300e+02,1.902200e+02,1.145600e+02,1.162100e+02,5.469800e+02
Divident yeild,NaN,8.600000e-03,NaN,5.180000e-02,5.400000e-03,NaN
EV To Revenue,3.247000e+00,1.150900e+01,4.333000e+00,2.822000e+00,7.194000e+00,2.454700e+01
Market Cap,1.482171e+12,2.173043e+12,5.445513e+11,1.134920e+11,2.662836e+12,8.663811e+11
current Price,2.957970e+03,2.959200e+02,2.029700e+02,1.259300e+02,1.662300e+02,8.392900e+02