In [412]:
from datetime import datetime
import pandas as pd
import numpy as np
from sklearn.svm import SVR
import matplotlib.pyplot as plt
import pandas_datareader as web
plt.style.use('fivethirtyeight')
from sklearn.model_selection import train_test_split

In [427]:
stock_start_date= "2021-03-26"
today = "2022-07-02"

In [428]:
def get_my_stock(ticker,start=stock_start_date,end=today):
    data=web.DataReader(ticker,data_source='yahoo',start=start,end=end)
    return data

In [429]:
df = get_my_stock('BTC-USD')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2021-03-25,53392.386719,50856.570312,52726.746094,51704.160156,67999812841,51704.160156
2021-03-26,55137.312500,51579.855469,51683.011719,55137.312500,56652197978,55137.312500
2021-03-27,56568.214844,54242.910156,55137.566406,55973.511719,47266542233,55973.511719
2021-03-28,56610.312500,55071.113281,55974.941406,55950.746094,47686580918,55950.746094
2021-03-29,58342.097656,55139.339844,55947.898438,57750.199219,57625587027,57750.199219
...,...,...,...,...,...,...
2022-01-25,37444.570312,35779.429688,36654.804688,36954.003906,26428189594,36954.003906
2022-01-26,38825.410156,36374.906250,36950.515625,36852.121094,31324598034,36852.121094
2022-01-27,37148.324219,35629.281250,36841.878906,37138.234375,25041426629,37138.234375
2022-01-28,37952.878906,36211.109375,37128.445312,37784.332031,22238830523,37784.332031
2022-01-29,37941.160156,37510.539062,37740.703125,37658.265625,20218157056,37658.265625

In [430]:
# Create a function to calculate the Exponential Moving Average (EMA) Indicator it will give us more importance recent price data
def EMA(data,period=20,column='Close'):
    return data[column].ewm(span=period,adjust=False).mean()

In [431]:
#Create a function to calculate the Relative Strength Index(RSI) to calculate how fast people are bitting the price up and down
def RSI(data,period=14,column='Close'):
    delta=data[column].diff(1)
    delta = delta.dropna()
    up = delta.copy()
    down = delta.copy()
    up[up<0]=0
    down[down>0]=0
    data['up']=up
    data['down']=down
    AVG_Gain =EMA(data,period,column='up')
    AVG_LOSS =abs(EMA(data,period,column='down'))
    RS=AVG_Gain/AVG_LOSS
    RSI=100.0 -(100.0/(1.0+RS))
    data['RSI'+str(period)]=RSI
    return data

In [432]:
RSI(df,7)
RSI(df,14)
RSI(df,20)
df['EMA15']=EMA(df,15)
df['EMA20']=EMA(df,20)
df['EMA50']=EMA(df,50)
df

,High,Low,Open,Close,Volume,Adj Close,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50
Date,,,,,,,,,,,,,,
2021-03-25,53392.386719,50856.570312,52726.746094,51704.160156,67999812841,51704.160156,NaN,NaN,NaN,NaN,NaN,51704.160156,51704.160156,51704.160156
2021-03-26,55137.312500,51579.855469,51683.011719,55137.312500,56652197978,55137.312500,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581
2021-03-27,56568.214844,54242.910156,55137.566406,55973.511719,47266542233,55973.511719,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391
2021-03-28,56610.312500,55071.113281,55974.941406,55950.746094,47686580918,55950.746094,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771
2021-03-29,58342.097656,55139.339844,55947.898438,57750.199219,57625587027,57750.199219,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-25,37444.570312,35779.429688,36654.804688,36954.003906,26428189594,36954.003906,299.675781,0.000000,35.864709,29.913798,29.672050,39722.703809,40688.487335,44956.958632
2022-01-26,38825.410156,36374.906250,36950.515625,36852.121094,31324598034,36852.121094,0.000000,-101.882812,34.639069,29.442605,29.346550,39363.880969,40323.119121,44639.121865
2022-01-27,37148.324219,35629.281250,36841.878906,37138.234375,25041426629,37138.234375,286.113281,0.000000,42.053816,32.868982,31.673026,39085.675145,40019.796764,44344.969415
2022-01-28,37952.878906,36211.109375,37128.445312,37784.332031,22238830523,37784.332031,646.097656,0.000000,56.807117,40.409137,36.862002,38923.007256,39806.895361,44087.689517
2022-01-29,37941.160156,37510.539062,37740.703125,37658.265625,20218157056,37658.265625,0.000000,-126.066406,53.278105,39.412493,36.268011,38764.914552,39602.263958,43835.555247

In [433]:
#Create the target columns to determine if tomorrows price will be grater than todays price , if it is put 1 otherwise 0
df['Target']=np.where(df['Close'].shift(-1)>df['Close'],1,0)
df

,High,Low,Open,Close,Volume,Adj Close,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50,Target
Date,,,,,,,,,,,,,,,
2021-03-25,53392.386719,50856.570312,52726.746094,51704.160156,67999812841,51704.160156,NaN,NaN,NaN,NaN,NaN,51704.160156,51704.160156,51704.160156,1
2021-03-26,55137.312500,51579.855469,51683.011719,55137.312500,56652197978,55137.312500,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581,1
2021-03-27,56568.214844,54242.910156,55137.566406,55973.511719,47266542233,55973.511719,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391,0
2021-03-28,56610.312500,55071.113281,55974.941406,55950.746094,47686580918,55950.746094,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771,1
2021-03-29,58342.097656,55139.339844,55947.898438,57750.199219,57625587027,57750.199219,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-25,37444.570312,35779.429688,36654.804688,36954.003906,26428189594,36954.003906,299.675781,0.000000,35.864709,29.913798,29.672050,39722.703809,40688.487335,44956.958632,0
2022-01-26,38825.410156,36374.906250,36950.515625,36852.121094,31324598034,36852.121094,0.000000,-101.882812,34.639069,29.442605,29.346550,39363.880969,40323.119121,44639.121865,1
2022-01-27,37148.324219,35629.281250,36841.878906,37138.234375,25041426629,37138.234375,286.113281,0.000000,42.053816,32.868982,31.673026,39085.675145,40019.796764,44344.969415,1
2022-01-28,37952.878906,36211.109375,37128.445312,37784.332031,22238830523,37784.332031,646.097656,0.000000,56.807117,40.409137,36.862002,38923.007256,39806.895361,44087.689517,0
2022-01-29,37941.160156,37510.539062,37740.703125,37658.265625,20218157056,37658.265625,0.000000,-126.066406,53.278105,39.412493,36.268011,38764.914552,39602.263958,43835.555247,0

In [434]:
#remove the first row data
df =df[1:]
df

,High,Low,Open,Close,Volume,Adj Close,up,down,RSI7,RSI14,RSI20,EMA15,EMA20,EMA50,Target
Date,,,,,,,,,,,,,,,
2021-03-26,55137.312500,51579.855469,51683.011719,55137.312500,56652197978,55137.312500,3433.152344,0.000000,100.000000,100.000000,100.000000,52133.304199,52031.127046,51838.793581,1
2021-03-27,56568.214844,54242.910156,55137.566406,55973.511719,47266542233,55973.511719,836.199219,0.000000,100.000000,100.000000,100.000000,52613.330139,52406.592253,52000.939391,0
2021-03-28,56610.312500,55071.113281,55974.941406,55950.746094,47686580918,55950.746094,0.000000,-22.765625,99.728156,99.886668,99.924836,53030.507133,52744.130714,52155.833771,1
2021-03-29,58342.097656,55139.339844,55947.898438,57750.199219,57625587027,57750.199219,1799.453125,0.000000,99.788694,99.897285,99.929468,53620.468644,53220.899143,52375.220652,1
2021-03-30,59447.222656,57251.550781,57750.132812,58917.691406,54414116432,58917.691406,1167.492188,0.000000,99.822826,99.904016,99.932453,54282.621489,53763.450787,52631.788132,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-01-25,37444.570312,35779.429688,36654.804688,36954.003906,26428189594,36954.003906,299.675781,0.000000,35.864709,29.913798,29.672050,39722.703809,40688.487335,44956.958632,0
2022-01-26,38825.410156,36374.906250,36950.515625,36852.121094,31324598034,36852.121094,0.000000,-101.882812,34.639069,29.442605,29.346550,39363.880969,40323.119121,44639.121865,1
2022-01-27,37148.324219,35629.281250,36841.878906,37138.234375,25041426629,37138.234375,286.113281,0.000000,42.053816,32.868982,31.673026,39085.675145,40019.796764,44344.969415,1
2022-01-28,37952.878906,36211.109375,37128.445312,37784.332031,22238830523,37784.332031,646.097656,0.000000,56.807117,40.409137,36.862002,38923.007256,39806.895361,44087.689517,0
2022-01-29,37941.160156,37510.539062,37740.703125,37658.265625,20218157056,37658.265625,0.000000,-126.066406,53.278105,39.412493,36.268011,38764.914552,39602.263958,43835.555247,0

In [435]:
# Get a list of columns to keep
keep_columns=df.drop(['High','Low','Open','Close','Volume','Adj Close','up','down','Target'],axis=1).columns
X = df[keep_columns]
y=df['Target'].values

In [436]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled = scaler.fit_transform(X)
scaled,X.shape

(array([[1.        , 1.        , 1.        , 0.62993856, 0.63488671,
         0.69536689],
        [1.        , 1.        , 1.        , 0.64513402, 0.64715166,
         0.70212302],
        [0.99717897, 0.99872707, 0.99910617, 0.65833997, 0.65817768,
         0.708577  ],
        ...,
        [0.39867107, 0.2459952 , 0.18746613, 0.21690922, 0.2425247 ,
         0.38312179],
        [0.55177152, 0.33068501, 0.24917264, 0.21175988, 0.23557007,
         0.37240171],
        [0.51514966, 0.31949087, 0.24210899, 0.20675538, 0.22888558,
         0.36189603]]),
 (310, 6))

In [437]:
X_train,X_test,Y_train,Y_test=train_test_split(scaled,y,test_size=0.2)

In [438]:
#Create the model
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators=100,criterion='entropy',random_state=10)
forest.fit(X_train,Y_train)

RandomForestClassifier(criterion='entropy', random_state=10)

In [439]:
forest.score(X_test,Y_test)

0.5806451612903226

In [440]:
forest_predictions=forest.predict(X_test)
forest_predictions

array([1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0])